<h1>Wards</h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>District</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @wards.each do |ward| %>
      <tr>
        <td><%= ward.name %></td>
        <td><%= ward.district %></td>
        <td><%= link_to 'Show', ward_path(ward), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>
  </div>
</div>

